# Choose if you want to use the compiler as a wasm module (typst.ts), which is slower but requires no external dependencies,
# or as a self-hosted API (see https://github.com/Mapaor/typst-api) which is an HTTP Rest API that requires an external server.

# SELFHOSTED_API is set to false by default, set it to true if you want to use the self-hosted API instead (faster).
#SELFHOSTED_API=false

# The URL of the self-hosted API.
#SELFHOSTED_API_URL=https://typstapi.yourdomain.coms